ul{
  font-family: Arial, Helvetica, sans-serif;
  list-style: square;
  background-color: beige;
}

h4{
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}


.App {
  display: flex;
}

main{
  flex: 1;
  padding: 20px;
  background-color: rgb(20, 114, 70);
  border: 20px solid #fff;
}

aside{
  width: 600px;
  padding: 20px;
  background-color: rgb(34, 114, 218);
  border: 20px solid #fff;
}



